@model LICT_HRMS.Models.Department

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Department Details</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Department Group
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentGroup.Name)
        </dd>

        <dt>
            Created By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateEmployee.Name)
        </dd>

        <dt>
            Create Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            Updated By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateEmployee.Name)
        </dd>

        <dt>
            Update Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
