@model LICT_HRMS.Models.DepartmentTransfer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Department Transfer Details</h2>

<div>
    <h4>DepartmentTransfer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Employee Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt>
           From Designation
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromDesignation.Name)
        </dd>

        <dt>
            To Designation
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDesignation.Name)
        </dd>

        <dt>
            Transfer Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
