@model IEnumerable<LICT_HRMS.Models.DepartmentTransfer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Department Transfer List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Name
        </th>
        <th>
           From Designation
        </th>
        <th>
            To Desigantion
        </th>
        <th>
            Transfer Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromDesignation.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToDesignation.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransferDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
